#send-form,
#content{
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

#room-list {
  float: right;
  width: 30%;
}

#messages {
  width: 70%;
  background-color: gray;
  height: 500px;
  overflow: auto;
}
